.expenses-list {
  list-style: none;
  padding: 0;
}

.expenses-list__fallback,
.expenses-total {
  color: white;
}

.expenses-list__fallback {
  text-align: center;
}

.expenses-total {
  margin-top: 2rem;
}
